[Desktop Entry]
Comment=Molecular editor and visualization package
Version=2.1
Exec=/tmp/IQmol-2.1/iqmol.sh
Icon=/tmp/IQmol-2.1/IQmol.png
Name=IQmol
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
