bin
build

# Compiled Object files/executables
*.o
*.mod
*.app
*.exe

# Makefiles
Makefile
Makefile.debug
Makefile.release

# Mac crap
.DS_Store

# Windows crap
object_script.*


# Vim temporary files
.*.swp

# Qt stuff
.qmake.stash
.moc

# IQmol stuf
qrc_IQmol.cpp
deploy
graveyard
