bin
build

# Compiled Object files/executables
*.o
*.mod
*.app
*.exe

# Makefiles
Makefile
Makefile.debug
Makefile.release

# Mac crap
.DS_Store

# Windows crap
object_script.*

# Vim temporary files
.*.swp

# Qt stuff
.qmake.stash
.moc

# IQmol stuff
qrc_IQmol.cpp
deploy
graveyard

# tex crap
doc/IQmolUserGuide.aux
doc/IQmolUserGuide.bbl
doc/IQmolUserGuide.blg
doc/IQmolUserGuide.log
doc/IQmolUserGuide.out
doc/IQmolUserGuide.synctex.gz
doc/IQmolUserGuide.toc

# my stuff
doc/notes
