[Desktop Entry]
Name=IQmol
GenericName=Molecular Editor
Comment=Visualize and animate molecules
Exec=IQmol
Icon=IQmol
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;Chemistry;Physics;Biology;
